<h1 id="tableLabel">Features</h1>

<p *ngIf="!features"><em>Loading...</em></p>
<!--<div class="form form-inline">
  <div *ngFor="let filterItem of courses; let i = index;" class="form-check" style="padding-right:20px;">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="filterItem.checked" [value]="filterItem.name"> Value {{ i + 1 }}
    </label>
  </div>
</div>

<pre>Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;">{{ filterItem.value }}</span></pre>-->
<input [(ngModel)]="searchText" placeholder="Search for a filter " class="searchBar"><i class="fas fa-search icon"></i>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="features">

  <thead>
    <tr>
      <!--<th>title</th>-->
      <!--<th>description</th>-->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let feature of features | filterfeature : searchText | filterbyfeature: { property: ''} : checked() : false | paginate: { itemsPerPage: 5, currentPage: p } ">
      <td>
        <b>{{ feature.name }}</b>
        <div>
          {{ feature.description }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
