/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.headerText {
  border-left: 2px solid rgba(186,186,186,0.9);
  padding-left: 10px;
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
  }
}

.nav-item{
    display: flex;
}

.fa, .fas {
  padding-top: 12px;
  cursor: pointer;
}
