<!--<h1>Hello, world!</h1>-->
<a class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage"><h3>Welcome {{ userName | async }}</h3></a>
<div *ngIf="isUserNameAvailable"><h3>You are logged in as an User role</h3></div>
<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Features</h4>
          <ul>
            <li *ngFor="let feature of features | slice:0:5" class="card-title">
              <b>{{feature.name}}</b>
              <div>{{feature.description}}</div>
            </li>
          </ul>
          
          <p class="card-text"><small class="text-muted"><a [routerLink]="['/fetch-feature']">See More</a></small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Courses</h4>
          <ul>
            <li *ngFor="let course of courses | slice:0:3" class="card-title">
              <b>{{course.course.name}}</b>
              <div>{{course.course.description}}</div>
            </li>
          </ul>
          <p class="card-text"><small class="text-muted"><a [routerLink]="['/fetch-course']">See More</a></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
